html {
	height: 100%;
}
body {
    min-height: 100%;
    width: 100%;
    min-width: 320px;
    font-family: helvetica neue, sans-serif;
    background: #272727;
    background: #37474F;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica Neue Light', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, 'Lucida Grande', sans-serif,
}
#root {
	display: flex;
	flex: 1;
}