.hint {
    flex: 0 0 auto;
    line-height: 2;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    background-color: #343d46;
    border-top: 2px solid #2B343E;
    text-align: center;
    margin-top: 20px;
}